<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/teams"
        (click)="goBack()">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Team and Roster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card
    *ngIf="team">
    <ion-card-header
      class="team-info">
      <ion-item>
        <ion-card-title>{{team.name}}</ion-card-title><br>
      </ion-item>
      <ion-item class="img-info">
        <img [src]="team.crestUrl" alt="crest">
      </ion-item>
    </ion-card-header>

    <ion-card-content style="margin-left: auto;">
      <ion-label>Stadium: {{team.venue}}</ion-label><br>
      <ion-label>Address: {{team.address}}</ion-label><br>
      <ion-label>Phone: {{team.phone}}</ion-label><br>
      <ion-label>email: {{team.email}}</ion-label>
    </ion-card-content>
    <ion-item>
      <span slot="start">Website: </span>
      <a slot="end"
        [href]="team.website"
        target="_blank">
        {{team.website}}
      </a>
    </ion-item>
  </ion-card>
  <ion-item>
    <h4>Rosters</h4>
  </ion-item>
  <ion-list *ngFor="let roster of team?.squad">
    <ion-item
      *ngIf="roster">
      <ion-label class="ion-text-wrap">
        <h2> Name:
          {{ roster.name }}
        </h2>
        <span>Position: {{ roster.position }} </span>
        <span>Nationality: {{ roster.nationality}} </span>
        <span class="date">
          Birthday: <ion-note>{{ roster.dateOfBirth | date: 'medium'}}</ion-note>
        </span>
      </ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
  </ion-list>

</ion-content>
