<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Competitions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Competitions
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-competitions
      title="Look Teams"
      *ngFor="let competition of competitions"
      [competition]="competition">
    </app-competitions>
  </ion-list>
</ion-content>
